

    <div id="menu" class="my-6 py-2 mx-auto max-w-screen-lg px-4 sm:px-6">
        
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">


            <!--
                https://codepen.io/j_greig/pen/abvBQZZ

                Initalise Alpine.js with an array of foodtypes, and a variable to store the selected foodtype 
            -->

            <div class="m4" x-data="{ foodArray: ['🍟 sides','🥗 salads','🍔 burgers','&nbsp;🐟 fish&nbsp;&nbsp;','🧳 packs'], selectedFoodType: null}">

                <div class="">
                    <div class="bangers block">
                        <div class="border-b border-gray-200">
                            <nav class="-mb-px flex">
                                <!-- Start with a "Show all" tag that is selected by default -->
                                    <a  href="#"
                                        @click.prevent="selectedFoodType = null, console.log('selectedFoodType = everything')" 
                                        class="w-1/2 py-4 px-1 text-center border-b-2 border-indigo-500 font-medium text-lg sm:text-3xl leading-5 text-indigo-600" 
                                        :class="{'bg-white focus:outline-none focus:border-indigo-500' : selectedFoodType == null }"
                                        aria-current="page">
                                        <!--span class="hidden sm:inline" x-text="'🐟🍔🥗🍟 '"></span--> Full <br class="inline sm:hidden">Menu
                                    </a>
                                <!-- Loop through the foodtype array and create clickable tags. When a tag is active, add classes for pink text & borders. -->
                                    <template x-for="foodItem in foodArray" :key="foodItem">
                                        <a
                                        href="#"
                                        class="w-1/4 py-4 px-1 text-center border-b-2 font-medium text-lg sm:text-3xl leading-5 text-gray-500 bg-gray-200 hover:text-indigo-600 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300"
                                        :class="{ 'focus:bg-white focus:outline-none focus:text-indigo-600 focus:border-indigo-500 focus:border-t-2' : selectedFoodType == foodItem }"
                                        x-text="foodItem"
                                        @click.prevent="selectedFoodType = foodItem, console.log('selectedFoodType = '+selectedFoodType)"
                                        >    
                                        </a>
                                    </template>
                            </nav>
                        </div>
                    </div>
                </div>

                {% if fish.items %}
                    <div x-show="selectedFoodType == null || selectedFoodType == '&nbsp;🐟 fish&nbsp;&nbsp;'" class="mt-1 px-4 py-5 border-b border-gray-200 sm:px-6">
                        <h3 class="bangers text-4xl leading-6 font-medium text-gray-900">
                        Fish 🐟
                        </h3>
                        <!--p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
                        What's Fishin
                        </p-->
                    </div>
                    <div x-show="selectedFoodType == null || selectedFoodType == '&nbsp;🐟 fish&nbsp;&nbsp;'" class="border-b border-gray-200 px-4 py-5 sm:px-6">
                        <dl class="grid grid-cols-1 col-gap-16 row-gap-6 sm:grid-cols-2">
                            {% for item in fish.items %}
                                <div class="flex flex-wrap leading-none">
                                    <div class="flex-initial mr-3 text-xl font-bold text-black capitalize">{{ item.emoji }}</div>
                                    <div class="flex-1">
                                        <div class="inline-flex w-full flex-wrap">
                                            <div class="flex-initial text-xl capitalize">{{ item.item }}</div>
                                            <div class="flex-grow border-b border-b-4 border-dotted border-gray-400 mx-1 h-5"></div>
                                            <div class="w-full text-gray-700 leading-tight py-2 capitalize">{{ item.desc }} <!--span class="uppercase text-xs">Options: {{ item.options }}</span--></div>
                                        </div>
                                    </div>
                                    <div class="flex-initial text-xl">${{ item.price }}</div>
                                </div>
                            {% endfor %}
                        </dl>
                    </div>
                {% endif %}

                {% if burger.items %}
                    <div x-show="selectedFoodType == null || selectedFoodType == '🍔 burgers'" class="mt-1 px-4 py-5 border-b border-gray-200 sm:px-6">
                        <h3 class="bangers text-4xl leading-6 font-medium text-gray-900">
                        Burgers 🍔
                        </h3>
                    </div>
                    <div x-show="selectedFoodType == null || selectedFoodType == '🍔 burgers'" class="border-b border-gray-200 px-4 py-5 sm:px-6">
                        <dl class="grid grid-cols-1 col-gap-16 row-gap-8 sm:grid-cols-2">
                            {% for item in burger.items %}
                                <div class="flex flex-wrap leading-none">
                                    <div class="flex-initial mr-3 text-xl font-bold text-black capitalize">{{ item.emoji }}</div>
                                    <div class="flex-1">
                                        <div class="inline-flex w-full flex-wrap">
                                            <div class="flex-initial text-xl capitalize">{{ item.item }} Burger</div>
                                            <div class="flex-grow border-b border-b-4 border-dotted border-gray-400 mx-1 h-5"></div>
                                            <div class="w-full text-gray-700 leading-tight py-2 capitalize">{{ item.desc }}. <!--span class="uppercase text-xs">Options: {{ item.options }}</span--></div>
                                        </div>
                                    </div>
                                    <div class="flex-initial text-xl">${{ item.price }}</div>
                                </div>
                            {% endfor %}
                        </dl>
                        <p class="mt-5 border-t-1 pt-3 flex flex-wrap justify-between space-x-1 text-sm text-center leading- text-black">
                            <mark class="flex-grow mb-2 bg-white py-1 px-2 rounded-full font-bold">Extras: </mark>
                            <mark class="flex-grow mb-2 bg-yellow py-1 px-2 rounded-full">GF Bun +$3</mark>
                            <mark class="flex-grow mb-2 bg-yellow py-1 px-2 rounded-full">Onion +50c</mark>
                            <mark class="flex-grow mb-2 bg-yellow py-1 px-2 rounded-full">Beetroot +$1</mark>
                            <mark class="flex-grow mb-2 bg-yellow py-1 px-2 rounded-full">Egg +$1</mark>
                            <mark class="flex-grow mb-2 bg-yellow py-1 px-2 rounded-full">Pineapple +$1</mark>
                            <mark class="flex-grow mb-2 bg-yellow py-1 px-2 rounded-full">Onion Rings +$1</mark>
                            <mark class="flex-grow mb-2 bg-yellow py-1 px-2 rounded-full">The Lot +$2</mark>
                            <mark class="flex-grow mb-2 bg-yellow py-1 px-2 rounded-full">Bacon +$3</mark>
                            <mark class="flex-grow mb-2 bg-yellow py-1 px-2 rounded-full">Avocado +$3</mark>
                            <mark class="flex-grow mb-2 bg-yellow py-1 px-2 rounded-full">Extra patty +$4</mark>
                        </p>
                    </div>
                {% endif %}

                {% if salad.items %}
                    <div x-show="selectedFoodType == null || selectedFoodType == '🥗 salads'"  class="mt-1 px-4 py-5 border-b border-gray-200 sm:px-6">
                        <h3 class="bangers text-4xl leading-6 font-medium text-gray-900">
                        Salads 🥗
                        </h3>
                        <!--p class="mt-1 max-w-2xl text-md leading-5 text-gray-500">
                        Bun Options: GF Bun (+$3)<br>
                        Add an extra patty (+$4): Beef , Chicken, Fish, Vegan<br>
                        Extra extras: Beetroot ($1), Egg ($1), Onion (.50c), Pineapple ($1), THE LOT ($2), Onion Rings ($1), Bacon ($3), Avocado ($3)
                        </p-->
                    </div>
                    <div x-show="selectedFoodType == null || selectedFoodType == '🥗 salads'"  class="border-b border-gray-200 px-4 py-5 sm:px-6">
                        <dl class="grid grid-cols-1 col-gap-16 row-gap-8 sm:grid-cols-2">
                            {% for item in salad.items %}
                                <div class="flex flex-wrap leading-none">
                                    <div class="flex-initial mr-3 text-xl font-bold text-black capitalize">{{ item.emoji }}</div>
                                    <div class="flex-1">
                                        <div class="inline-flex w-full flex-wrap">
                                            <div class="flex-initial text-xl capitalize">{{ item.item }}</div>
                                            <div class="flex-grow border-b border-b-4 border-dotted border-gray-400 mx-1 h-5"></div>
                                            <div class="w-full text-gray-700 leading-tight py-2 capitalize">{{ item.desc }} <!--span class="uppercase text-xs">Options: {{ item.options }}</span--></div>
                                        </div>
                                    </div>
                                    <div class="flex-initial text-xl">${{ item.price }}</div>
                                </div>
                            {% endfor %}
                        </dl>
                    </div>
                {% endif %}

                {% if sides.items %}
                    <div x-show="selectedFoodType == null || selectedFoodType == '🍟 sides'"  class="mt-1 px-4 py-5 border-b border-gray-200 sm:px-6">
                        <h3 class="bangers text-4xl leading-6 font-medium text-gray-900">
                        Sides 🍟
                        </h3>
                        <!--p class="mt-1 max-w-2xl text-md leading-5 text-gray-500">
                        Bun Options: GF Bun (+$3)<br>
                        Add an extra patty (+$4): Beef , Chicken, Fish, Vegan<br>
                        Extra extras: Beetroot ($1), Egg ($1), Onion (.50c), Pineapple ($1), THE LOT ($2), Onion Rings ($1), Bacon ($3), Avocado ($3)
                        </p-->
                    </div>
                    <div x-show="selectedFoodType == null || selectedFoodType == '🍟 sides'"  class="border-b border-gray-200 px-4 py-5 sm:px-6">
                        <dl class="grid grid-cols-1 col-gap-16 row-gap-8 sm:grid-cols-2">
                            {% for item in sides.items %}
                                <div class="flex flex-wrap leading-none">
                                    <div class="flex-initial mr-3 text-xl font-bold text-black capitalize">{{ item.emoji }}</div>
                                    <div class="flex-1">
                                        <div class="inline-flex w-full flex-wrap">
                                            <div class="flex-initial text-xl capitalize">{{ item.item }}</div>
                                            <div class="flex-grow border-b border-b-4 border-dotted border-gray-400 mx-1 h-5"></div>
                                            <div class="w-full text-gray-700 leading-tight py-2 capitalize">{{ item.desc }} <!--span class="uppercase text-xs">Options: {{ item.options }}</span--></div>
                                        </div>
                                    </div>
                                    <div class="flex-initial text-xl">${{ item.price }}</div>
                                </div>
                            {% endfor %}
                        </dl>
                    </div>
                {% endif %}

                {% if pack.items %}
                    <div x-show="selectedFoodType == null || selectedFoodType == '🧳 packs'"  class="mt-1 px-4 py-5 border-b border-gray-200 sm:px-6">
                        <h3 class="bangers text-4xl leading-6 font-medium text-gray-900">
                        Packs 🧳
                        </h3>
                        <!--p class="mt-1 max-w-2xl text-md leading-5 text-gray-500">
                        Bun Options: GF Bun (+$3)<br>
                        Add an extra patty (+$4): Beef , Chicken, Fish, Vegan<br>
                        Extra extras: Beetroot ($1), Egg ($1), Onion (.50c), Pineapple ($1), THE LOT ($2), Onion Rings ($1), Bacon ($3), Avocado ($3)
                        </p-->
                    </div>
                    <div x-show="selectedFoodType == null || selectedFoodType == '🧳 packs'"  class="border-b border-gray-200 px-4 py-5 sm:px-6">
                        <dl class="grid grid-cols-1 col-gap-16 row-gap-8 sm:grid-cols-2">
                            {% for item in pack.items %}
                                <div class="flex flex-wrap leading-none">
                                    <div class="flex-initial mr-3 text-xl font-bold text-black capitalize">{{ item.emoji }}</div>
                                    <div class="flex-1">
                                        <div class="inline-flex w-full flex-wrap">
                                            <div class="flex-initial text-xl capitalize">{{ item.item }} Pack</div>
                                            <div class="flex-grow border-b border-b-4 border-dotted border-gray-400 mx-1 h-5"></div>
                                            <div class="w-full text-gray-700 leading-tight py-2 capitalize">{{ item.desc }} <!--span class="uppercase text-xs">Options: {{ item.options }}</span--></div>
                                        </div>
                                    </div>
                                    <div class="flex-initial text-xl">${{ item.price }}</div>
                                </div>
                            {% endfor %}
                        </dl>
                    </div>
                {% endif %}

            </div>

        </div>

    </div>
