<div class="relative pt-6 pb-16 md:pb-20 lg:pb-24 xl:pb-32">

    <!--x-data="{ open: false }"-->
    <!--nav class="relative max-w-screen-xl mx-auto flex items-center justify-between px-4 sm:px-6">
      <div class="flex items-center flex-1">
        <div class="flex items-center justify-between w-full md:w-auto">
          <a href="#">
            <img class="h-8 w-auto sm:h-10" src="/img/logos/workflow-mark-on-white.svg" alt="">
          </a>
          <div class="-mr-2 flex items-center md:hidden">
            <button @click="open = true" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="hidden md:block md:ml-10">
          <a href="#" class="font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">Product</a>
          <a href="#" class="ml-10 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">Features</a>
          <a href="#" class="ml-10 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">Marketplace</a>
          <a href="#" class="ml-10 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">Company</a>
        </div>
      </div>
      <div class="hidden md:block text-right">
        <span class="inline-flex rounded-md shadow-md">
          <span class="inline-flex rounded-md shadow-xs">
            <a href="#" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
              Log in
            </a>
          </span>
        </span>
      </div>
    </nav>

    <div x-show="open" x-description="Mobile menu, show/hide based on menu open state." x-transition:enter="duration-150 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden" style="display: none;">
      <div class="rounded-lg shadow-md">
        <div class="rounded-lg bg-white shadow-xs overflow-hidden">
          <div class="px-5 pt-4 flex items-center justify-between">
            <div>
              <img class="h-8 w-auto" src="/img/logos/workflow-mark-on-white.svg" alt="">
            </div>
            <div class="-mr-2">
              <button @click="open = false" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="px-2 pt-2 pb-3">
            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">Product</a>
            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">Features</a>
            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">Marketplace</a>
            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">Company</a>
          </div>
          <div>
            <a href="#" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100 hover:text-indigo-700 focus:outline-none focus:bg-gray-100 focus:text-indigo-700 transition duration-150 ease-in-out">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div-->    

    <div class="mx-auto max-w-screen-xl px-4 sm:px-6">
      <div class="text-center">
        
        <div class="mb-10 text-sm font-semibold lowercase tracking-wide text-gray-500 sm:text-base lg:text-sm xl:text-base">
            <mark>{{ site.domain }}</mark>
        </div>
        
        <h1 class="mt-0 mb-8 sm:mb-2 bangers text-huge tracking-normal sm:tracking-wide leading-none font-extrabold text-gray-900">
          {{ site.name }}
          <!--span class="text-indigo-600">online business</span-->
        </h1>
        
        <h2 class="bangers mt-0 mx-auto text-4xl text-indigo-500 sm:text-6xl md:text-6xl">
          <mark>{{ site.blurb }}</mark>
        </h2>

        <h3 class="mt-4 text-xl sm:text-3xl sm:leading-9 leading-8 font-normal text-gray-900 tracking-tight ">
          {{ site.street }}, {{ site.suburb }} &middot; {{ site.post }}
        </h3>

        <h4 class="mt-4 text-xl leading-8 sm:text-3xl sm:leading-9 font-black text-gray-900 tracking-tight ">
          <a href="tel:{{ site.tel }}" class="border-b-2 border-dotted">{{ site.phone }}</a>
        </h4>

        <div class="mt-5 max-w-3xl mx-auto sm:flex sm:justify-center md:mt-8 uppercase">
          <div class="rounded-md shadow">
            <a href="tel:{{ site.tel }}" class="w-full flex items-center justify-center px-10 py-4 text-xl leading-6 font-medium rounded-md text-white hover:text-black bg-black hover:bg-gray-200 border-8 border-black hover:border-gray-400 transition duration-150 ease-in-out">
              <div class="flex items-center justify-center h-12 w-12 text-white">
                <span class="text-4xl mr-4" role="image" aria-label="telephone">☎️</span>
            </div> {{ site.phoneorderbtn }}
            </a>
          </div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="{{ site.squaresite }}" target="_blank" class="w-full flex items-center justify-center px-10 py-4 text-xl leading-6 font-medium rounded-md text-black hover:text-black border-8 border-black hover:border-gray-400 bg-yellow hover:bg-gray-200 transition duration-150 ease-in-out">
              <div class="flex items-center justify-center h-12 w-12 text-3xl">
                  <span class="text-5xl mr-5" role="image" aria-label="credit card">💳</span>
                </div> {{ site.onlineorderbtn }}
            </a>
          </div>
        </div>

        
      </div>
    </div>