<div class="container pt-8 mx-auto max-w-screen-lg" x-data="loadMenu()">
    <input x-ref="searchField" x-model="search" x-on:keydown.window.prevent.slash="$refs.searchField.focus()" placeholder="What do you feel like? &nbsp;&nbsp;&nbsp;(type to search / 'esc' to clear)" type="search" class="block w-full text-xl bg-gray-200 focus:outline-none focus:bg-white focus:shadow text-gray-700 font-bold rounded-lg px-4 py-3">
    
    
    <div class="mt-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-4">
      <template x-for="item in filteredMenu" :key="item">
        <div class="flex items-center shadow hover:bg-indigo-100 hover:shadow-lg hover:rounded transition duration-150 ease-in-out transform hover:scale-105 p-3">
          <!--img class="w-10 h-10 rounded-full mr-4" :src="`${item.profile_image}`" /-->
          <p class="w-8 h-10 mr-0" x-text="item.cat"></p>
          <div class="">
            <p class="text-lg leading-5 font-bold text-black capitalize" x-text="item.item + '... ' + '$'+item.price/100 + ''"></p>
            <p class="text-sm text-gray-600" x-text="item.desc"></p>
            <p class="" x-text="item.options"></p>
          </div>
        </div>
      </template>
    </div>
  </div>
  <script>
    var sourceData = [{
        cat: "🐟",
        item: "fish bite",
        price: "200",
        desc: "Extra crispy, Chicken salt, Regular salt, No salt, Vinegar",
        options: "",
        search: "fish cheap"
      },
      {
        cat: "🐟",
        item: "flathead fillet",
        price: "300",
        desc: "",
        options: "",
        search: "fish"
      },
      {
        cat: "🦑",
        item: "salt & pepper squid",
        price: "800",
        desc: "8 Pieces Fried",
        options: "",
        search: "squid"
      },
      {
        cat: "🦑",
        item: "chilli squid",
        price: "800",
        desc: "8 Pieces Fried",
        options: "",
        search: "spicey squid"
      },
      {
        cat: "🐟",
        item: "flake",
        price: "900",
        desc: "",
        options: "battered / grilled / crumbed / no salt",
        search: " vegan"
      },
      {
        cat: "🐟",
        item: "barramundi",
        price: "1000",
        desc: "",
        options: "",
        search: ""
      },
      {
        cat: "🐟",
        item: "salmon",
        price: "1200",
        desc: "",
        options: "",
        search: ""
      },
    ];

    function loadMenu() {
      return {
        search: '',
        myForData: sourceData,
        get filteredMenu() {
          if (this.search === '') {
            return this.myForData
          }
          return this.myForData.filter(item => {
            return item.item.toLowerCase().includes(this.search.toLowerCase()) || item.desc.toLowerCase().includes(this.search.toLowerCase()) || item.options.toLowerCase().includes(this.search.toLowerCase()) || item.search.toLowerCase().includes(this.search.toLowerCase())
          })
        }
      }
    }
  </script>