@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom CSS */

@import url('https://fonts.googleapis.com/css?family=Bangers|Open+Sans&display=swap');

.bangers {
    font-family: 'Bangers', sans-serif;
}

.text-huge {
    font-size: 8rem;
}

.bg-yellow {
    background-color: yellow;
}

.svg-icon {
    color: white;
    display: inline-block;
}
@font-face {
    font-family:Bangers;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:local('Bangers Regular'),local('Bangers-Regular'),url(https://fonts.gstatic.com/s/bangers/v12/FeVQS0BTqb0h60ACH55Q3Q.ttf) format('truetype');
}