<!DOCTYPE html>
<html lang="en">
<head>
{% include "head.njk" %}
</head>

  <body data-img-src="{{ page.inputPath | dirname }}/" data-img-dist="{{ page.outputPath | dirname }}/">

    {% include "hero.njk" %}
    {% include "food-menu.njk" %}
    {% include 'reviews.njk' %}
    {% include "footer.njk" %}
    {#% include "menu.njk" %#}

    <!--iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.05196295787!2d144.9956173149873!3d-37.78882197975694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6430cf0450d91%3A0xb10479909bd6b789!2sWhat&#39;s%20Fishin!5e0!3m2!1sen!2sau!4v1588168675155!5m2!1sen!2sau" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe-->

    <link rel="stylesheet" href="/ui/css/{{ hashes_css['additional.css'] }}" />

    {#
    https://buzut.net/configurer-rollup-bundles-esm-cjs/
    https://v8.dev/features/modules#browser
    #}
    <script async type="module" src="/ui/js/{{ hashes_additional_es['src/_assets/js/additional.js']}}"></script>
    <script async nomodule src="/ui/js/{{ hashes_additional_iife['src/_assets/js/additional.js']}}"></script>

  </body>

</html>
